a {
    text-decoration: none;
}

.header {
    height: 70px;
    width: 100%;
    position: fixed;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: #326e52;
}

ul.push_keywords {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

ul.push_keywords li a {
    text-decoration: none;
    color: white;
    font-size: 0.85rem;
}

.search_box {
    display: flex;
}

.search_bar {
    width: 455px;
    height: 36px;
    border: none;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    outline: none;
    padding: 0px 10px;
    margin-bottom: 10px;
}

.search_bar_action {
    width: 36px;
    height: 36px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.btn_search {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.header_right {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon_header {
    margin: 0px 10px;
}

.text_header_item {
    text-wrap: nowrap;
    font-size: 0.85rem;
    color: white;
}

.container_vertical_middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart_count {
    position: absolute;
    translate: -20px -5px;
    border-radius: 10px;
    font-size: 13px;
    padding: 0 8px;
    font-weight: 700;
    height: 17px;
    line-height: 17px;
    background: #ff6600;
    color: #fff;
}

.top_menu {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 70px;
    background-color: #e5faf1;
}

.top_menu .content {
    display: flex;
    gap: 15px;
}

.top_menu .content a {
    font-size: 0.9rem;
    padding: 0px 0px 3px 0px;
    text-decoration: none;
    color: #326e51;
}

.top_menu .content a.hamburger {
    padding: 0px 0px 3px 28px;
    background-image: url(https://hasaki.vn/v3/css/images/icons/icon_hamber.svg);
    background-repeat: no-repeat;
}
